.App {
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  width:100%;
}

.input{
  width:100%;
}

.record{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  width:100%;
}

.record_title{
  box-sizing: border-box;
  border-bottom: solid black 1px;
  width:100%;
}

.StoredNumber{
  box-sizing: border-box;
  width:100%;
}